.light{
    height : 5em;
    width : 5em;
    background-color: yellow;
    border-radius: 50%;
}

.off {
    opacity: 0.2;
}

.on {
    opacity: 1;
}

.message {
    color: green;
    margin-bottom: 1em;
}
